.container {
  padding: 0 15px;
  width: calc(100% - 30px);
}
.z-1 {
  z-index: 1;
}
.relative {
  position: relative;
}
h1 {
  font-size: 56px;
  color: #45505b;
}
p {
  font-size: 26px;
  color: #45505b;
  margin-top: 12px;
  font-family: 'Poppins', sans-serif;
}
span {
  color: #0563bb;
  letter-spacing: 1px;
}
.typed-cursor {
  opacity: 1;
}
.typed-cursor--blink {
  animation-name: typedBlink;
  animation-duration: .6s;
  animation-iteration-count: infinite;
}
.social-media {
  margin-top: 30px;
  a {
    line-height: 1;
    font-size: 24px;
    display: inline-block;
    color: #45505b;
    line-height: 1;
    margin-right: 20px;
    transition: all .3s ease 0;
  }
}
@keyframes typedBlink {
  from { opacity: 1; }
  to { opacity: 0; }
}
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translate(10px, -10px);
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .container {
    width: auto;
    text-align: center;
  }
  h1 {
    font-size: 32px;
  }
  p {
    font-size: 20px;
    margin-top: 10px;
  }
}