.typed-cursor {
  opacity: 1;
}
.typed-cursor--blink {
  animation-name: typedBlink;
  animation-duration: .6s;
  animation-iteration-count: infinite;
}
a {
  line-height: 1;
  display: inline-block;
  color: #45505b;
  line-height: 1;
  margin-right: 20px;
  transition: all .3s ease 0;
}
@media screen and (max-width: 768px) {
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  div {
    text-align: center;
  }
}
