.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .4s ease-in-out;
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}
ul {
  list-style: none;
  font-family: "Open Sans", sans-serif;
  color: #272829;
  .title {
    font-weight: 700;
  }
  .icon {
    font-size: 14px;
    padding-right: 2px;
    color: #0563bb;
  }
}
li {
  padding-bottom: 10px;
}
img {
  height: auto;
  width: 100%;
}
h3 {
  font-weight: 700;
  font-size: 26px;
  color: #728394;
}
@media screen and (max-width: 768px) {
  .flex {
    display: block;
    ul {
      &:last-child {
        margin-top: 24px;
      }
    }
  }
}