.mt-56 {
  margin-top: 56px;
}
.mb-80 {
  margin-bottom: 80px;
}
.contact-icon {
  min-width: 56px;
  width: 56px;
  height: 56px;
  position: relative;
  margin-right: 16px;
  a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0563bb;
    background: #eef7ff;
  }
}

.row {
  display: flex;
  padding: 0 -15px;
}
.col {
  padding: 0 15px;
}
.flex-1 {
  flex: 1;
}
.lg-3 {
  width: 33.3333%;
}
.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.items-start {
  align-items: flex-start;
}
.flex-wrap {
  flex-wrap: wrap;
}
.py-md {
  padding: 8px 0;
}
.py-2md {
  padding: 20px 0;
}
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .4s ease-in-out;
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .lg-3 {
    min-width: calc(100% - 30px);
  }
  .row {
    display: block;
    text-align: left;
    &.keep-flex {
      display: flex;
    }
  }
}